
/* waiter loading screen should fill leaflet window */
#map > div.waiter-overlay.waiter-local {
  z-index: 9999;
  top: 20px !important;
  left: 0px !important;
}

.card-img, .card-img-top, .card-img-bottom {
  object-fit: cover;
  max-width: 60%;
  align-self: center;
}

